<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Checkout - Manga Collection</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}">
    </head>

    <body>
        <header class="checkout">
            <div class= "main" >
                <div class="nav">
                    <div th:fragment="user-role"></div>
                </div>
            </div>
        </header>
        <div class="small-container">
            <table>
            </table>
        </div>
    </body>
</html>